body {
  background-color: #d6bae6;
  margin: 0 0 0 0;
  text-align: center;
}

#game-container {
  width: 30vw;
  height: 30vh;
  margin-left: 35vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px 10px;
  background-color: #000000;
}

.game-space {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
}

button {
  margin-top: 15px;
}

img {
  max-width: 50px;
  max-height: 50px;
}
